attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
check50==3.4.0
cryptography==49.0.0
defusedxml==0.7.1
emoji==2.15.0
Faker==40.36.0
fonttools==4.63.0
fpdf2==2.8.7
idna==3.18
inflect==7.5.0
iniconfig==2.3.0
jellyfish==1.2.1
Jinja2==3.1.6
lib50==3.2.1
MarkupSafe==3.0.3
more-itertools==11.1.0
packaging==26.2
pexpect==4.9.0
pillow==12.3.0
pluggy==1.6.0
ptyprocess==0.7.0
pycparser==3.0
pyfiglet==1.0.4
Pygments==2.20.0
pytest==9.1.1
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
setuptools==83.0.0
soupsieve==2.8.4
submit50==3.2.1
tabulate==0.10.0
termcolor==1.1.0
typeguard==4.5.2
typing_extensions==4.16.0
urllib3==2.7.0
validators==0.35.0
xlsxwriter==3.2.9
